<h2 class="subtitle">What are you looking for?</h2>

<input class="input is-rounded" type="text" placeholder="ðŸ” Search for a service">

<div class="container">
<br>
<h3 class="title is-1 has-text-left">Top Services</h3>
</div>

<br>

<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<% @topServices.each do |service| %>
  <div class="column is-half"> 
    <button class="button is-large is-responsive is-fullwidth is-mobile">
      <span class="icon">
        <i class="fab fa-github"></i>
        <p style="font-size:10px"><%= service.service %></p>
      </span>
    </button>
  </div>
<% end %>
</div>




<div class="container">
  <h3 class="title is-1 has-text-left">Main Categories</h3>
</div>


<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<!%= @allServices.inspect %>
<% @allServices.each do |service| %>
  <div class="column is-half"> 
    <button class="button is-large is-responsive is-fullwidth">
    <a><%= service[0] %></a>
      <span class="icon">
        <i class="fab fa-github"></i>
        <%= link_to service.category, sub_service_url(service.category) %>
      </span>
    </button>
  </div>
<% end %>
</div>






