<h2 class="subtitle">What are you looking for?</h2>

<input class="input is-rounded" type="text" placeholder="Search for a service">

<h3 class="title is-1">  </h3>
<h3 class="title is-1">  </h3>
<h3 class="title is-1">  </h3>
<h3 class="title is-1">  </h3>

<h3 class="title is-1">Top Services</h3>

<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<% @topServices.each do |service| %>
  <div class="column is-half"> 
    <button class="button is-large is-responsive is-fullwidth">
      <span class="icon">
        <i class="fab fa-github"></i>
        <%= service.service %>
      </span>

    </button>
  </div>
<% end %>


<h3 class="title is-1">Main Categories</h3>

<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<!%= @allServices.inspect %>
<% @allServices.each do |service| %>
  <div class="column is-half"> 
    <button class="button is-large is-responsive is-fullwidth">
    <a><%= service[0] %></a>
      <span class="icon">
        <i class="fab fa-github"></i>
        
        <%= link_to service.category, sub_service_url(service.category) %>
        
      </span>

    </button>
  </div>
<% end %>





