<center>

  <div class="column is-full">
    <h1 class='title' style = "font-size:45px">More</h1>
    <hr style="height: 2px; color:black; background-color:gray">
  </div>

  <div class="column is-full">
    <h1 class='title' style = "font-size:30px">Choose a topic</h1>
    <div class="select">
      <select>
        <option>Select</option>
        <option>Transfer</option>
        <option>blah</option>
        <option>blahblah</option>
      </select>
    </div>
  </div>

  <div class="column is-full">
    <h1 class='title' style = "font-size:30px">Select your Branch</h1>
    <div class="select">
      <select>
        <%@all_locations_name.each do |options|%>
          <option><%=options%></option>
        <%end%>
      </select>
    </div>
  </div>
  
  <div class="column is-full"><br><br>
    <button class="button is-medium is-responsive">
      <p style="color:white; font-size:14px">Get Queue Number</p>
    </button>
  </div>



</center>



