<div class="columns is-multiline is-mobile is-vcentered is-centered">

  <div class="column is-three-quarters">
  
    <center><h1 class='title'><%= @branch_name %></h1></center>
    <center><h2 class='title'><%= params[:topic]%></h2></center>
  </div>
  <% if @mobile
    @text = 'Tap';
  else
    @text = 'Scan';
  end %>

  <div class="column is-three-quarters">
    <center><p style="font-size:25px; color:DimGray"><b><%= @text %></b> QR Code</p></center>

    <center><p style="font-size:15px; color:DimGray">to send SMS for your</p></center>
    <center><p style="font-size:15px; color:DimGray">Queue Number</p></center>
  </div>

  </div>

  <div class="column is-full">
      <figure class="center">
        <%= link_to @qr.html_safe, @body %>
      </figure>
  </div>
  

</div>