<center>

  <div class="column is-full">
    <h1 class='title' style = "font-size:45px">More</h1>
    <hr style="height: 2px; color:black; background-color:gray">
  </div>

  <%= form_with url: more_QR_path, method: :get, id: 'branch_form' do |form| %>

    <h1 style = "font-size:30px"><b>Choose a topic</b></h1>
    <div class="select is-rounded">
      <%= form.select :topic, @topic %>
    </div>
    <br><br>

    <h1 style = "font-size:30px"><b>Select your Branch</b></h1>
    <div class="select is-rounded">
      <%= form.select :branch_name, @all_locations_name %>
    </div>
    <br><br>

    <%= form.submit "Get Queue Number", class: "button is-large is-responsive is-rounded",  style: "font-size:18px; color:white;"%>
    <% end %>

</center>



