<h1 class='title'>More</h1>




<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Dropdown button</span>
        <span class="icon is-small">
            <i class="fas fa-angle-down" ></i>
        </span>
    </button>
  </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
        <%@counter_types.each do |counter_type| %>
            <a href="#" class="dropdown-item">
            <%= counter_type %>
            </a>
        <% end %>
        </div>
    </div>
</div>


<div class="is-centered">

<div >
<button class="button is-medium is-responsive">
  Get Queue Number
</button>
</div>
</div>




