<center>
  <div class="container">
    <h6 class="subtitle has-text-left"><%=Branch.find_by(branch: session[:branch]).branch_name%></h6>
    <h3 class="title is-1 has-text-left"><%=@category%></h3>
  </div>
  <br>

  <div class="columns is-mobile is-multiline">
    <% @services.each do |service| %>
    
    <% @the_link = time_estimate_url(service) %>
    <% @the_services = service.service %>

      <div class="column is-half"> 
        <a href=<%= @the_link %>>
          <div class="box">
              <center><p style="color:white; font-size:13px"><%= @the_services %></p></center>   
          </div>
        </a>
      </div>
    <% end %>
  </div>

</center>