<h3 class="title is-1">Category</h3>
<!%= @services.inspect %>
<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<% @services.each do |service| %>
    <div class="column is-half"> 
      <button class="button is-large is-responsive is-fullwidth">
        <span class="icon">
          <i class="fab fa-github"></i>
          <%= service.service %>
        </span>
  
      </button>
    </div>
  <% end %>