<h1 class='title'><%= @service.service%></h1>
<div class="columns is-mobile is-multiline is-8 has-background-white is-centered">
<% if @migratable == "true" %>
<h1 class='subtitle'>Do it digitally</h1>
<button class="button is-medium is-responsive">
  Start
</button>
<h2>Estimate time</h2>
    <%=  @digital_time%>
<% end %>

<h1>--------------OR---------------</h1>
<h1> Do it at the customer counter </h1>
<%= @branch_time %>

<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Dropdown button</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" ></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a href="https://www.google.com/" class="dropdown-item">
        Bank 1
      </a>
      <a class="dropdown-item">
      Bank 2
      </a>
      <a href="#" class="dropdown-item">
      Bank 3
      </a>
      <a href="#" class="dropdown-item">
      Bank 4
      </a>
      <hr class="dropdown-divider">
      <a href="#" class="dropdown-item">
        Others
      </a>
    </div>
  </div>
</div>
</div>
