<h1 class='title'><%= @service.service%></h1>

<div class="is-centered">
<% if @migratable == "true" %>
<div >
<h1 class='subtitle'>Do it digitally</h1>
<button class="button is-medium is-responsive">
  <p style="font-size:15px; color:white;">Start</p>
</button>
</div>
<div >
<h2>Estimate time</h2>
    <% @digital_time = @digital_time.to_s + ' min' %>
    <%= @digital_time %>

<h3 class="title is-5 is-vcentered">OR</h3>
<progress class="progress is-small" value="100" max="100"></progress>
<% end %>
</div>
<div >
<br>



<h1> Do it at the customer counter </h1>
<h2>Estimate time</h2>

<% @branch_time  = @branch_time.to_s + ' min' %>
<%= @branch_time %>
</div >

<div class="select is-rounded">
  <select>
    <option>tampines</option>
    <option>eunos</option>
  </select>
</div>