@import "bulma";
@import "bulma-extensions";

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto+Slab|Open+Sans");

// override the Bulma variables here
$subtitle-line-height: 1.5;
$family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$family-monospace: "Source Code Pro", monospace;
$family-primary: $family-sans-serif;

// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

// GLOBAL BUTTONS COLOR EDITS
//---------------------------
$link: $black;
$link-hover: #474747;
//---------------------------

$button-background-color: #5a5a5a;

$box-padding: 18px;
$box-background-color: #454545;
$box-link-hover-shadow: $red;
$box-link-active-shadow: $red;
$box-radius: 10px;

$progress-value-background-color: #bdbdbd;

$card-content-padding: 10px;
$card-radius: 15px;

$column-gap: 0.75rem;

$is-narrow: 300px;

.dbsbackground{
  background-image: url("DBS_Towers,_SIA_Building_and_Capital_Tower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dbsheader {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 10px rgb(0, 0, 0);
  max-height: 90px;
}

.gradientheader {
  background-image: linear-gradient(rgb(255, 255, 255),rgb(188, 188, 188));
}

.gradienttopservices {
  background-image: linear-gradient(rgb(151, 0, 0), rgb(221, 67, 67));
}

.squarebuttons-topservice{
  border: 2px outset rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;


  height:142px;
  width: 23%;
  max-width: 150px;

  margin-left: 1%;
  margin-right: 1%;
  margin-top: 35px;

  cursor:pointer;
}

.squarebuttons-categories{
  // border: 1px outset blue; //display size of button
  background-color: rgba(255, 255, 255, 0.804);
  border-radius: 5%;

  margin-left: 0%;
  margin-right:0%;
  margin-bottom: 1%;
  margin-top: 1%;

  cursor:pointer;
}

.gradientbody {
  background: linear-gradient(rgb(255, 255, 255), rgb(211, 211, 211));
  background-size:100% 100%;
}

.columns {
  display: flex;
}

.capsize{
  max-width: 56px;
  max-height: 56px;
}

.alignitemscenter{
  display: flex;
  justify-content: center;
  align-items: center;
}


.centertext {
    padding-left: 3%;
    padding-right: 3%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      font-size:15px;
    }
    @include tablet-only {
      font-size:18px;
    }
    @include desktop{
      font-size:18px;
    }
  }

  p.small {
    line-height: 1.2;
    font-size: 13px;
  }

  .blurry-text {
    font-weight: 525;
    color: transparent;
    text-shadow: 0 0 0.7px rgb(55, 55, 55);
 }


// import bulma and optionally the extensions
@import "bulma";
@import "bulma-extensions";

// custom scss works here or in the relevant files