@import "bulma";
@import "bulma-extensions";

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Roboto+Slab|Open+Sans");

// override the Bulma variables here
$subtitle-line-height: 1.5;
$family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$family-monospace: "Source Code Pro", monospace;


$button-background-color: #454545;
$link: $white;
$button-text-color: $white;



// import bulma and optionally the extensions
@import "bulma";
@import "bulma-extensions";

// custom scss works here or in the relevant files